USE [LandscapingProposalSystem_PROD_1]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/16/2025 8:20:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LaborPricing]    Script Date: 8/16/2025 8:20:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LaborPricing](
	[Id] [nvarchar](450) NOT NULL,
	[ServiceType] [nvarchar](max) NOT NULL,
	[BaseRate] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LaborPricing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialBasePricing]    Script Date: 8/16/2025 8:20:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialBasePricing](
	[Id] [nvarchar](450) NOT NULL,
	[MaterialId] [nvarchar](max) NOT NULL,
	[BasePrice] [decimal](18, 2) NOT NULL,
	[UnitOfMeasure] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MaterialBasePricing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 8/16/2025 8:20:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[BasePrice] [decimal](18, 2) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[TotalCost] [decimal](18, 2) NOT NULL,
	[UnitOfMeasure] [nvarchar](max) NOT NULL,
	[PropertyTypes] [nvarchar](max) NOT NULL,
	[Regions] [nvarchar](max) NOT NULL,
	[EstimatedDuration] [decimal](18, 2) NOT NULL,
	[ProposalId] [nvarchar](450) NULL,
	[ServiceId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceHistory]    Script Date: 8/16/2025 8:20:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceHistory](
	[Id] [nvarchar](450) NOT NULL,
	[ItemId] [nvarchar](max) NOT NULL,
	[ItemType] [nvarchar](max) NOT NULL,
	[OldPrice] [decimal](18, 2) NOT NULL,
	[NewPrice] [decimal](18, 2) NOT NULL,
	[Region] [nvarchar](max) NOT NULL,
	[PropertyType] [nvarchar](max) NOT NULL,
	[Season] [nvarchar](max) NOT NULL,
	[ChangeDate] [datetime2](7) NOT NULL,
	[ChangedBy] [nvarchar](max) NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PriceHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyTypePricing]    Script Date: 8/16/2025 8:20:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyTypePricing](
	[Id] [nvarchar](450) NOT NULL,
	[PropertyType] [nvarchar](max) NOT NULL,
	[Multiplier] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PropertyTypePricing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proposals]    Script Date: 8/16/2025 8:20:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proposals](
	[Id] [nvarchar](450) NOT NULL,
	[PropertyType] [nvarchar](max) NOT NULL,
	[PropertySize] [decimal](18, 2) NOT NULL,
	[Region] [nvarchar](max) NOT NULL,
	[Budget] [decimal](18, 2) NOT NULL,
	[LaborCost] [decimal](18, 2) NOT NULL,
	[MaterialCost] [decimal](18, 2) NOT NULL,
	[TotalCost] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ValidUntil] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Proposals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RawProposals]    Script Date: 8/16/2025 8:20:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawProposals](
	[Id] [uniqueidentifier] NOT NULL,
	[PropertyType] [nvarchar](max) NOT NULL,
	[PropertySize] [decimal](18, 2) NOT NULL,
	[Region] [nvarchar](max) NOT NULL,
	[Budget] [decimal](18, 2) NOT NULL,
	[RequestedServices] [nvarchar](max) NOT NULL,
	[ProposalRawBody] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ValidUntil] [datetime2](7) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[ClientName] [nvarchar](max) NOT NULL,
	[ClientPhone] [nvarchar](max) NOT NULL,
	[ClientEmail] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_RawProposals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegionalPricing]    Script Date: 8/16/2025 8:20:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegionalPricing](
	[Id] [nvarchar](450) NOT NULL,
	[Region] [nvarchar](max) NOT NULL,
	[Multiplier] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_RegionalPricing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeasonalPricing]    Script Date: 8/16/2025 8:20:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeasonalPricing](
	[Id] [nvarchar](450) NOT NULL,
	[Season] [nvarchar](max) NOT NULL,
	[Multiplier] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SeasonalPricing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceBasePricing]    Script Date: 8/16/2025 8:20:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceBasePricing](
	[Id] [nvarchar](450) NOT NULL,
	[ServiceId] [nvarchar](max) NOT NULL,
	[BasePrice] [decimal](18, 2) NOT NULL,
	[UnitOfMeasure] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ServiceBasePricing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 8/16/2025 8:20:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[BasePrice] [decimal](18, 2) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[MaterialCost] [decimal](18, 2) NOT NULL,
	[LaborCost] [decimal](18, 2) NOT NULL,
	[TotalCost] [decimal](18, 2) NOT NULL,
	[PropertyTypes] [nvarchar](max) NOT NULL,
	[Regions] [nvarchar](max) NOT NULL,
	[UnitOfMeasure] [nvarchar](max) NOT NULL,
	[EstimatedDuration] [decimal](18, 2) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[ProposalId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_Proposals_ProposalId] FOREIGN KEY([ProposalId])
REFERENCES [dbo].[Proposals] ([Id])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_Proposals_ProposalId]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_Services_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_Services_ServiceId]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_Proposals_ProposalId] FOREIGN KEY([ProposalId])
REFERENCES [dbo].[Proposals] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_Proposals_ProposalId]
GO
